*{
	margin: 0; padding: 0;box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a{text-decoration: none;}

	li{list-style: none;}

	
/***************Navbar Starts*****************/
.header{
	width:100%;
	height: 100vh;
	background-image:url("banner.jpg");
	background-size: 100% 100%;
	clip-path:polygon();
	position:relative!important;
}

.navbar-brand{
	font-size: 31px;
letter-spacing: 2px;
color: #444444;
font-weight: 700;
}
.navbar-nav li a{
	font-size: 14px;
letter-spacing: 1px;
color: #646363;
font-weight: 700;
text-transform: uppercase;
margin: 0 30px;
position: relative;
}
.navbar-nav li a:before {
    content:"";
    position: absolute;
    top:100%;
    bottom: 20%;
    width: 0%;
    height: 10%;
    background:#ff9a00;
    transition: all 0.3s linear;
}
.navbar-nav li a:hover{
	color: #3e436b;
}
.navbar-nav li a:hover:before{
	width: 80%;	
}

.nav-item .fa-bars{
	margin-left:94px;
	margin-right:73px;
	color:  #646363;
	line-height: 1px;
}
.navbar-toggler-icon .fa{
color:#fff;
font-size: 1.6rem;
}

@media screen and (max-width: 768px){
	.fa-bars{
		display: none;	
	}
	.navbar-nav li a:hover:before{
		display:none;
	}
}
/**
.heading{
	width: 100%;
    color: #fff;
    text-align: center;
}
.center-div{
	width: 100%;
	height: auto;
	top: 25%;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-div button{
	background-color:#ff9a00;
	padding: 0 32px;
}

/***************Parallax Ends*****************/




/***************Three Col Div Starts*****************/





/***************Three Col Div Ends*****************/

/***************Five Col Slider Starts*****************/

